.panel{

  width: 15rem;
  display: inline-block;
  vertical-align: text-top;
  
}

li{
  
  list-style-position:inside;
  list-style-type: none;
  text-align: center;

}

h3, a{

  color: #000;
  margin-left: -5px

}