<div ng-controller="grouplistController as ctrl">

<!-------------------- Nav Bar -------------------------->

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">git-rank</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="/#/groups">Groups</a>
          <ul class="dropdown">
            <li><a href="/#/groups/create">Create</a></li>
            <li><a href="/#/groups/view">View</a></li>
          </ul>
        </li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>

<!------------------ Rest of Html -------------------->

 <h3 align="center">{{ctrl.title}}</h3>

<ul>
    <li ng-repeat="group in ctrl.grouplist | filter:main.searchInput | orderBy:main.order.key">
      <a href="/#/groups/{{group.name}}">{{group.name}}</a>
    </li>
</ul>












</div>