<div ng-controller="groupController as main">

<!-------------------- Nav Bar -------------------------->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/#/login/"> git-rank <i class="fa fa-diamond"></i></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="/#/groups">Groups</a>
          <ul class="dropdown">
            <li><a href="/#/groups/create">Create</a></li>
            <li><a href="/#/groups/view">View</a></li>
          </ul>
        </li>
        <li><a href="/#/login/:userId">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>

<!-- Need to add ng-controller="userController" -->
<div class="row text-center">
  <h1><a href="#"> {{main.group}} </a> </h1>
</div>

<div class="row text-center">
  <div class="small-4 small-centered columns">
    <label> Search:
      <input type="text" ng-model="main.searchInput"> {{}}
    </label>
  </div>

  <h3>Members in: <a href="">{{main.group}}</a></h3>
  <ol>
    <li ng-repeat="member in main.members | filter:main.searchInput | orderBy:'score':true">
      {{member.username}} <span class="label">{{member.score}}</span>
    </li>
  </ol>

  <!-- Form to Add Group -->
  <!-- Automatically hidden, shows when add group is clicked above  in nav -->
  <form ng-hide="hideForm" name="main.addForm" ng-submit="main.addMember()">
    <p>Name: <input type="text" ng-model="main.new.name" required /> </p>
    <button>Add</button>
  </form>

  </div>
</div>