<!-------------------- Nav Bar -------------------------->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">git-rank</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="user/:userId/groups">Groups</a>
          <ul class="dropdown">
            <li><a ng-click="showForm()">Create</a></li>
            <li><a href="#">View</a></li>
          </ul>
        </li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>

<!-- Need to add ng-controller="userController" -->
<div class="row text-center">
  <h1>{{group.name}} hacksu</h1>
</div>
  
<div class="row text-center">
  <div class="small-4 small-centered columns">
    <label> Search:
      <input type="text" ng-model="main.searchInput"> {{}}
    </label>
  </div>

  <h3>Members in {{group.name}}:</h3>
  <ol>
    <li>
      {{member.name}} <span class="label">{{member.score}} 545</span> Paul
    </li>
    <li ng-repeat="member in group.members | filter:main.searchInput | orderBy:main.order.key">
      {{member.name}} <span class="label">{{member.score}} 545</span> Paul
    </li>
  </ol>  
  
  <!-- Form to Add Group -->
  <!-- Automatically hidden, shows when add group is clicked above  in nav -->
  <form ng-hide="hideForm" name="group.addForm" ng-submit="group.addGroup()">
    <p>Name: <input type="text" ng-model="group.new.name" required /> </p>
    <button>Add</button>
  </form>  
  
</div> 