  <!-------------------- Nav Bar -------------------------->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">git-rank <i class="fa fa-diamond"></i></a></h1>
      </li>
    </ul>

  </nav>

  <div ng-controller="loginController" class="row text-center">
    <h1>Welcome to git-rank.</h1>
    <h4>See where you stand within your community and rise to the top. </h4>
    <a href="https://github.com/login/oauth/authorize?scope=user&client_id=60035510643b2f88570b" id="login" class="button round centered"> <i class="fa fa-github"></i> Login with Github</a>
  </div>
