<!-------------------- Nav Bar -------------------------->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">git-rank</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>

<!-- Need to add ng-controller="userController" -->
<div class="row text-center">
  <h1>{{group.name}} hacksu</h1>
  <h2>Search:</h2>
  <input type="text" ng-model="main.searchInput">
</div>
<div class="row text-center">
  
</div>  